<div class="navbar">
  <div class="flex-center">
    <i class="fa fa-map-marker searchBarMapMarker text-accent"></i>
  </div>
  <input id="searchBarInput" type="text" placeholder="Searching for N1 7LG">
  <!-- <div class="changeAddressButton flex-center">
    <i class="fa fa-map text-accent"></i>
    <p class="spaced-text text-accent">
      click to change
    </p>
  </div> -->
</div>
