<div class="homepage-header">
  <h1 class="header" >YOUR FAVORITE RESTAURANTS</h1>
  <h3 class="header" >NOW WITH DELIVERY.</h3>
  <div class="search-address-bar">
    <p>search 400+ places:</p>
    <input type="text" placeholder="your address">

  </div>
</div>
